<?php
/**
 * Copyright 2010-12 Nickolas Whiting. All rights reserved.
 * Use of this source code is governed by the Apache 2 license
 * that can be found in the LICENSE file.
 */

/**
 * H1-4 Block Strings
 */
define('RST_H1', '*');
define('RST_H2', '=');
define('RST_H3', '-');
define('RST_H4', '+');
define('RST_H5', '#');
