.. <?=$file?> generated using docpx on <?=date('m/d/y h:ia')?>

<?php
if (isset($doc['functions'])) {
    foreach ($doc['functions'] as $_function) {
        echo $this->template('function.template', [
            'function' => $_function
        ]);
    }
}
?>
