.. function:: <?=$function->get('namespace')?> <?=$function->get('name')?>

<?php

$doc = $function->get('doc');

if (is_array($doc)) {

    echo PHP_EOL.sprintf(
    '    %s',
        str_replace("\n", "\n    ", trim($doc['description']))
    ).PHP_EOL.PHP_EOL;
    if (is_array($doc['tags'])) {
        echo $this->template('tags.template', ['tags' => $doc['tags']]);
    }
}
echo PHP_EOL.PHP_EOL;
?>
